* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  margin: 0px;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 30px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/********PARTIE HEADER **************/

#header {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
}

#logo {
  padding: 44px 0 0 0;
  width: 62px;
  height: 20px;
}

#section-navbar {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

#section-navbar a {
  padding: 30px;
}

#section-navbar a:hover {
  border-top: 2px solid #0065fc;
  color: #0065fc;
  padding-top: 30px;
}

/*************** PAGE *************/

#page {
  width: 95%;
  margin: auto;
}

/*************** SEARCH AND FILTER *************/

#block-search {
  margin-bottom: 30px;
}

#block-search h1 p {
  margin-top: 5px;
  margin-bottom: 10px;
}

#search-location {
  display: flex;
  align-items: center;
  font-size: 0.95em;
  margin-bottom: 30px;
}

.div-mark {
  border-radius: 12px 0 0 12px;
  background-color: #f2f2f2;
  padding: 10px;
  height: 20px;
}

#input-location {
  height: 40px;
  width: 200px;
  color: black;
  border: none;
  font-weight: bold;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  padding: 10px;
  box-sizing: border-box;
}

#input-location:focus {
  background-color: #deebff;
  outline: 1px solid #0065fc;
}

#desktop {
  color: #ffffff;
  font-weight: bold;
  font-size: 0.95em;
  background-color: #0065fc;
  border: none;
  border-radius: 0 12px 12px 0;
  height: 40px;
  padding: 9px 12px;
  cursor: pointer;
}
#mobile {
  display: none;
}

#filter {
  display: flex;
  align-items: center;

  flex-wrap: wrap;
  gap: 20px;
}

#list-filter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.types {
  display: flex;
  align-items: center;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  padding-right: 10px;
  transition: 0.3s;
  padding: 5px;
}

.types:hover {
  background-color: #deebff;
  border: 2px solid #deebff;
  cursor: pointer;
}

.types span {
  font-weight: bold;
  font-size: 0.95em;
  padding: 0px 10px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0065fc;
  width: 42px;
  height: 42px;
  margin: -2px;
  border-radius: 50%;
  transition: transform 0.2s;
}

.types:hover .icon {
  animation: bounce 1s;
  animation-iteration-count: 1;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-15px);
  }
}

#info {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#info .fa-info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0065fc;
  border: 1px solid #d9d9d9;
  width: 5px;
  height: 5px;
  border-radius: 25px;
  padding: 10px;
  margin-right: 10px;
}

/****** HEBERGEMENTS AND POPULAIRES ***********/

.hebergements-and-populaires {
  display: flex;
  gap: 36px;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
#hebergements {
  width: 100%;
}

.more {
  padding-top: 30px;
}
.card-hotel {
  width: 30%;
  background-color: white;
  padding: 5px;
  margin: 15px 0px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px #dadada;
  transition: 0.3s;
}

.card-hotel img {
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}

.card-hotel h3 {
  margin: 10px 0px 5px 15px;
}

.card-hotel p {
  margin: 5px 0px 5px 15px;
}

.card-hotel span {
  margin: 5px 0px 5px 15px;
}

#list-cards-hotels {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/****** Populaires ***********/
.populaires {
  width: 35%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 35%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 100%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/*********ACTIVITES*************/

#activities {
  margin-bottom: 50px;
  margin-top: 50px;
  padding: 10px;
  width: 100%;
}

#activities h2 {
  margin-bottom: 40px;
  margin-left: 10px;
}
.activities-card {
  width: 100%;
  height: 28rem;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 5px 5px 10px #dadada;
  overflow: hidden;
  transition: 0.3s;
}

.activities-card h3 {
  height: 25px;
  width: auto;
  font-size: 0.95em;
  padding: 10px 10px 15px 15px;
  margin: 0;
}

.activities-card img {
  object-fit: cover;
}

.activities-dim {
  width: 100%;
  height: 100%;
}

.full {
  width: 100%;
  height: 400px;
}

#activities-list {
  display: flex;
  gap: 20px;
}

/*********FOOTER*************/

footer {
  max-width: 1440px;
  margin: auto;
  display: flex;
  background-color: #d9d9d9;
  padding: 10px 35px;
}

.footer-div {
  flex: 1;
}

.footer-div ul {
  padding-left: 0px;
  line-height: 30px;
}

.no-point {
  list-style-type: none;
}
.footer-div a:hover {
  color: #0065fc;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
  }

  .populaires-cards a {
    width: 100%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  .activities-card {
    width: 100%;
    height: 265px;
  }
  .activities-card h3 {
    padding: 8px;
    text-align: start;
  }
  .activities-card img {
    width: 100%;
    height: 205px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .main-container {
    padding: 0px;
  }

  #input-location {
    width: 100%;
    max-width: 400px;
  }

  #search-location {
    padding-top: 20px;
  }

  #mobile {
    display: flex;
    position: relative;
    right: 15px;
    height: 40px;
    color: #ffffff;
    background-color: #0065fc;
    border: none;
    border-radius: 12px 12px 12px 12px;
    padding: 12px 14px 9px 12px;
    cursor: pointer;
  }

  #desktop {
    display: none;
  }

  #block-search {
    width: 90%;
    padding-left: 20px;
  }

  .types {
    width: 40%;
  }

  .hebergements-and-populaires {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .hebergements-and-populaires section {
    background-color: #ffffff;
  }

  .populaires-cards {
    flex-direction: column;
    
  }
  .populaires-cards a {
    width: 80%;
  }


  #list-cards-hotels {
    width: 100%;
    flex-direction: column;
  }

  #activities-list {
    flex-direction: column;
    padding-right: 10px;
  }

  .activities-card {
    width: 100%;
    height: 265px;
    justify-content: center;
  }
  .activities-card h3 {
    padding: 8px;
    text-align: start;
  }
  .activities-card img {
    width: 100%;
    height: 205px;
  }

  .card-hotel {
    width: 100%;
  }
.card-hotel img {
  height: 150px;
}
  footer {
    padding-left: 40px;
    flex-direction: column;
  }

  #header {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 40px 0 60px 0;
  }

  #section-navbar {
    width: 100%;
    text-align: center;
  }

  #section-navbar a {
    width: 100%;
    border-bottom: 2px solid #d9d9d9;
  }

  #section-navbar a:hover {
    border-top: none;
    padding-top: 30px;
    border-bottom: 2px solid #0065fc;
    color: #0065fc;
  }
}
